.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card .left {
  padding: 0.5rem;
}

.card img {
  max-width: 150px;
  height: 100%;
}

.card .textContent {
  padding: 0.5rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
}

.card .text {
  font-size: 0.9rem;
}

.card .author {
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.card .description,
.card .title {
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.card .time {
  color: var(--gray);
}

@media (max-width: 768px) {
  .card .text {
    font-size: 0.9rem;
  }
}

@media (max-width: 570px) {
  .card .text {
    font-size: 0.8rem;
  }
  .card img {
    max-width: 100px;
  }
}
