nav {
  width: 100%;
  overflow: hidden;
}

nav .first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--orange);
  padding: 1em;
}

nav .header {
  font-size: 1.5em;
  font-weight: 600;
}

nav .search {
  display: flex;
  font-size: 0.9em;
}

nav .search input {
  width: 20em;
  padding: 0.4em 1em;
  border: none;
  border-top-left-radius: 0.7em;
  border-bottom-left-radius: 0.7em;
}

nav .search button {
  width: 6em;
  padding: 0.4em;
  border: none;
  background-color: var(--lowBlack);
  color: var(--white);
  border-bottom-right-radius: 0.7em;
  border-top-right-radius: 0.7em;
}

nav .second {
  margin-top: 2em;
}

nav .second ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 1em;
  padding: 0;
}

nav .second ul li a {
  font-style: italic;
  color: var(--lightBlue);
}

nav .second ul li a.activeLink {
  color: var(--black);
}

nav .second ul li a:hover {
  color: var(--orange);
}

@media all and (max-width: 790px) {
  nav .second ul li {
    margin: 0.5em;
  }

  nav .header {
    font-size: 1.2em;
  }
}

@media all and (max-width: 650px) {
  nav .first {
    flex-direction: column;
    gap: 1.5rem;
  }

  nav .search input {
    width: 70vw;
    padding: 0.2em 0.5em;
  }

  nav .search button {
    width: 4em;
    padding: 0.3em;
  }
}
